numpy==1.26.4
pyarrow==9.0.0
setuptools<81

pandas==1.5.3
pandas-gbq==0.17.9

google-cloud-storage
google-cloud-bigquery==2.34.4

notebook
ipykernel
python-dotenv
pytz

scikit-learn==1.4.2
feature-engine>=1.6.0

google-cloud-aiplatform==1.18.0
kfp==1.8.21
google-cloud-pipeline-components==1.0.24

joblib